<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASMOUAL JIGSAW</title>
    <link rel="stylesheet" href="../static/styles/landing_page_styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/game_assets/teaser_images/hero_images/logo.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">

</head>

<body>
    <div class='flex flex-col bg-[#28003E] text-white'>

        <!-- Header -->
        <header class='flex flex-col max-w-screen min-h-screen max-h-screen overflow-x-clip relative bg-[#F9ECFE] text-[#28003E] '>
            <div class='absolute -right-[450px] lg:-right-72 2xl:-right-96  h-[100%]  top-0 flex max-w-screen overflow-x-clip z-0 '>
                <img src="../static/game_assets/teaser_images/hero_images/Background_image.png" class=" object-cover " width="3383" height="1495" />
            </div>
            <div class='absolute left-4 top-4 max-h-screen flex max-w-screen overflow-x-clip z-0 '>
                <img src="../static/game_assets/teaser_images/hero_images/logo_name.png" width="1696" height="888"
                    class='w-[100px] h-[50px] 2xl:w-[150px] 2xl:h-[100px]' />
            </div>
            <div class='flex flex-col inset-x-0 z-10'>
                <h1 class='flex w-[85%] 2xl:w-[100%] lg:w-[40%] text-2xl lg:text-4xl 2xl:text-6xl font-bold 2xl:text-center mt-24 lg:mt-36 2xl:mt-56 ml-4'>
                    Where memory meets Mastery
                </h1>
                <p class='flex text-pretty w-[65%] lg:w-[40%] font-medium text-xs 2xl:text-2xl lg:text-lg m-4 lg:mt-12 '>
                    Discover Asmoual Jigsaw, the ultimate jigsaw game, and embark on a fun-filled journey to enhance
                    your memory and sharpen your problem-solving skills.
                </p>
                <div
                    class='flex w-[65%] text-sm lg:text-xl 2xl:text-2xl gap-2 flex-row items-center justify-start mt-4 2xl:mt-12 ml-4 2xl:ml-8'>
                    <button class='flex px-4 py-2 border border-[#28003e61] font-semibold rounded-lg hover:bg-[#6E00FF] hover:text-white'>Sign Up</button>
                    <button class='flex px-4 py-2 bg-[#6E00FF] text-white font-semibold rounded-lg hover:bg-[#f5e6fd] hover:text-[#28003E] hover:border hover:border-[#28003e61]'>Login</button>
                </div>
            </div>
        </header>

        <!-- Section 1: Title and Video -->
        <section class='mt-10 flex flex-col w-full'>
            <!-- Two-column layout for tablets and computers -->
            <div class="flex flex-col md:flex-row items-center justify-center h-full">
                <!-- Left Column for Text -->
                <div class="md:w-1/2 flex flex-col items-center justify-center">
                    <h2 class='text-center text-xl md:text-2xl lg:text-4xl font-medium'>Start Playing in a Simple Way
                    </h2>
                    <p class='text-center text-pretty w-[90%] sm:w-[80%] md:w-[92%] lg:w-[85%] xl:w-[80%] 2xl:w-[50%] font-normal text-xs sm:text-base lg:text-lg mt-4 md:mt-8 lg:mt-8 2xl:mt-12'>
                        You can effortlessly piece together captivating puzzles with Asmoual Jigsaw, a unique game
                        designed for
                        puzzle enthusiasts. With its intuitive gameplay and stunning visuals, solving puzzles has never
                        been this
                        enjoyable. Dive into the world of Asmoual Jigsaw and challenge your problem-solving skills
                        today!
                    </p>
                </div>
                <!-- Right Column for Video -->
                <div class="md:w-1/2 flex justify-center items-center lg:mt-12 mt-8 2xl:mt-16">
                    <video src="../static/game_assets/teaser_images/hero_images/playgame.mp4" type="video/mp4" autoplay
                        muted loop class="w-[80%] mx-auto md:h-[8%] rounded-[1rem]">
                    </video>
                </div>
            </div>
        </section>

        <!-- Section 2: Moving Images -->
        <section class='mt-10 flex flex-col w-full'>
            <div class="relative flex overflow-hidden  h-40 sm:h-64">
                <div class="absolute top-0 animate-scroll-left w-full whitespace-nowrap">
                    <!-- Image placeholders for marquee items -->
                    <img src="../static/game_assets/teaser_images/moving_images/image1.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image2.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image3.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image4.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image5.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image6.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image7.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <!-- Duplicating the image placeholders for seamless transition -->
                    <img src="../static/game_assets/teaser_images/moving_images/image1.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image2.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image3.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image4.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image5.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image6.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                    <img src="../static/game_assets/teaser_images/moving_images/image7.png" class="w-28 h-40 sm:w-44 sm:h-64 md:w-48 md:h-64 lg:w-48 lg:h-64 inline-block">
                </div>
            </div>
        </section>

        <!-- Section 3: Game Preview -->
        <section class='mt-20 flex flex-col w-full'>
            <h2 class='mb-5 text-center text-2xl md:text-4xl lg:text-4xl font-medium'>Choose a Puzzle to Start Playing
            </h2>
            <div
                class="grid justify-center grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-4 sm:gap-4 md:gap-4 lg:gap-4 xl:gap-4 mx-auto p-4">
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=1"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/1.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=2"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/2.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=3"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/3.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=4"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/4.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=5"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/5.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=6"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/6.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=7"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/7.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=8"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/8.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=9"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/9.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=10"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/10.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=11"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/11.png"></a></div>
                <div class="m-3"><a href="../templates/asmoual_jigsaw_interface.html?image=12"><img class="flex w-full h-auto" src="../static/game_assets/preview_images/12.png"></a></div>
            </div>
        </section>

        <!-- Button -->
        <div
            class="mt-10 mb-5 flex justify-center items-center w-auto text-sm lg:text-xl 2xl:text-2xl gap-2 flex-row 2xl:mt-12 ml-0 2xl:ml-8">
            <a href="../templates/asmoual_jigsaw_interface.html">
                <button
                    class="max-w-xs lg:max-w-md bg-[#6E00FF] text-white hover:text-[#120018] hover:bg-white font-bold py-2 px-20 rounded-lg transition-all duration-600 shadow-md hover:shadow-xl transform hover:scale-105">
                    Play Now
                </button>
            </a>
        </div>
        <!-- footer -->

        <footer class='mt-10 flex flex-col w-full relative'>
            <div class="w-full relative">
                <img src="../static/game_assets/teaser_images/footer_icons/footre1.png" />
                <!-- Overlay Content -->
                <div class="absolute inset-0 flex flex-col items-center justify-center  z-20">

                    <!-- Logo and Text -->
                    <div class="flex flex-col items-center mb-1 lg:mb-[3rem]">
                        <img src="../static/game_assets/teaser_images/footer_icons/image.png" class="w-20 h-16 lg:w-24 lg:h-20 z-50">

                        <div class="flex flex-col items-center mt-3">
                            <h1 class="text-md lg:text-lg font-bold text-[#333333]"
                                style="font-family: Moul, serif;font-weight: 400; font-style: normal;">OUALID ELHADIM
                            </h1>
                            <p class="text-xs lg:text-sm text-[#555555] text-center" style="font-family: Moul, serif;">
                                Software engineering in alx community</p>
                        </div>
                    </div>

                    <!-- Social Media Icons -->
                    <div class="flex justify-center items-center space-x-2 mb-3 ">
                        <a href="https://github.com/OUALIID" class="social-icon"><img src="../static/game_assets/teaser_images/footer_icons/github.svg" alt="GitHub" class="w-5 h-5 lg:w-7 lg:h-7 hover:filter hover:invert"></a>
                        <a href="https://www.linkedin.com/in/walid-elhadim-752a04268" class="social-icon"><img src="../static/game_assets/teaser_images/footer_icons/linkedin.svg" alt="LinkedIn" class="w-5 h-5 lg:w-7 lg:h-7 hover:filter hover:invert"></a>
                        <a href="https://twitter.com/walid_elhadim" class="social-icon"><img src="../static/game_assets/teaser_images/footer_icons/X.svg" alt="Twitter" class="w-5 h-5 lg:w-7 lg:h-7 hover:filter hover:invert"></a>
                        <a href="https://discord.com/channels/@_piplo_" class="social-icon"><img src="../static/game_assets/teaser_images/footer_icons/discord.svg" alt="Discord" class="w-5 h-5 lg:w-7 lg:h-7 hover:filter hover:invert"></a>
                        <a href="https://www.facebook.com/walid.hdm.33" class="social-icon"><img src="../static/game_assets/teaser_images/footer_icons/facebook.svg" alt="facebook" class="w-5 h-5 lg:w-7 lg:h-7 hover:filter hover:invert"></a>
                        <a href="https://www.instagram.com/oualid_elhadim/" class="social-icon"><img src="../static/game_assets/teaser_images/footer_icons/instagram.svg" alt="instagram" class="w-5 h-5 lg:w-7 lg:h-7 hover:filter hover:invert"></a>
                        <a href="https://t.me/Walid_Hdm_2004" class="social-icon"><img src="../static/game_assets/teaser_images/footer_icons/telegram.svg" alt="Telegram" class="w-5 h-5 lg:w-7 lg:h-7 hover:filter hover:invert"></a>
                    </div>

                    <!-- Copyright Notice -->
                    <p class="text-xs lg:text-sm text-[#777777] mt-3">© 2024 Asmoual Jigsaw. All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
